<div class="conteudo-dialog">
  <h1 mat-dialog-title class="titulo">{{titulo}}</h1>
  <form [formGroup]="autorForm" class="form-container" (ngSubmit)="salvarAutor()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome do autor" formControlName="nome" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nacionalidade</mat-label>
      <input matInput placeholder="Nacionalidade do autor" formControlName="nacionalidade" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data_nascimento" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div mat-dialog-action [align]="'end'" class="botoes">
      <button mat-raised-button mat-dialog-close class="botao-cancelar">Cancelar</button>
      <button 
          [disabled]="autorForm.invalid"
          [ngClass]="autorForm.valid ? 'botao-salvar' : 'botao-desabilitado'" 
          type="submit">Salvar
      </button>
  </div>
  </form>
</div>

